@model KutuphaneOtomasyonu.Models.YayinEvi

@{
    ViewBag.Title = "Yayın Evi Detay Bilgisi";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Yayın Evi Bilgileri</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @*@Html.DisplayNameFor(model => model.yayineviAd)*@
                Yayın Evi Adı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.yayineviAd)
            </dd>
    
            <dt>
                @*@Html.DisplayNameFor(model => model.yayineviTel)*@
                Telefon Numarası
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.yayineviTel)
            </dd>
    
            <dt>
                @*@Html.DisplayNameFor(model => model.yayineviAdres)*@
                Adres
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.yayineviAdres)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.yayineviID }) |
        @Html.ActionLink("Listeye Dön", "Index")
    </p>
</body>
</html>
