@model KutuphaneOtomasyonu.Models.Yazar

@{
    ViewBag.Title = "Sil";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Silmek istiyor musunuz?</h3>
    <div>
        <h4>@Html.DisplayFor(model => model.yazarAd)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @*@Html.DisplayNameFor(model => model.yazarAd)*@
                Yazarın Adı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.yazarAd)
            </dd>
    
            <dt>
                @*@Html.DisplayNameFor(model => model.yazarSoyad)*@
                Yazarın Soyadı
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.yazarSoyad)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> 
                @Html.ActionLink("Listeye Dön", "Index")
            </div>
        }
    </div>
</body>
</html>
